    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
    	
    		
            <% for part in @question.parts %>
                <%= link_to (part.title), part_path(part), :class => "btn btn-default btn-lg col-lg-6" %>
                <% end %>
    	
        	<br>
    </div>
    <br>
<div class="text-center">
<%= link_to "Back", :back, :class => "btn btn-default btn-lg" %>
</div>
<br>
