    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
    	
    		<div class="text-center"> <h2><%= @part.title %></h2></div>
    		<p><%= raw(@part.body) %></p>
    		<br>
    	
        	<br>
    </div>
    <br>
<div class="text-center">
<%= link_to "Back", :back, :class => "btn btn-default btn-lg" %>
</div>
<br>
