<br>
<br>
<br>
<br>
<br>
<div class="container text-center">
		<h2><strong>welcome <%= current_user.user_name %></strong></h2>

     <% for classroom in @classrooms %>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <div class="panel panel-primary">
                <div class="row">
                    <ul class="col-md-4">
                        <li class="list-group-item">
                            <div>
                                <label>
                                   <%= link_to classroom.title, classroom_path(classroom)%>
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<% end %>