<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
	<h2 class="text-center "><strong>Economics Students</strong></h2>
	<h1 class="text-center"> There are <%= User.count %> users.</h1>
	<br>
	<% @users.each do |user| %>
	<div class="text-center col-sm-2">	
		<p><%= user.user_name %></p>
	</div>
	<%end%>
</div>
<br>
<div class="text-center">
<%= link_to "Back", :back, :class => "btn btn-default btn-lg" %>
</div>
<br>