<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
	<h1 class="text-center ">LEVEL 100</h1>
	<% @users.each do |user| %>
	<div class="text-center col-sm-2">	
		<img src="/assets/SelormAdafia.png", class="img-responsive img-thumbnail img-circle">
		<p><%= user.user_name %></p>
	</div>
	<%end%>
</div>
<br>
<div class="text-center">
<%= link_to "Back", :back, :class => "btn btn-default btn-lg" %>
</div>
<br>