    <!-- Section: home video -->
  <section class="hero" id="intro">
      <div class="container">
          <div class="animatedParent container">
            <h1 class="animated fadeInDown col-md-12 h-bold">PASCOLOGY</h1>
            <br>.
            <br>.
            <br>.
            <br>.
            <br>.
            <p class="animated fadeInUp h-bold col-md-12 pull-left">we just want to say we love you. Now go and study!!</p>
              <br>
              <div class="col-md-12 pull-left">
            </div>
          </div>
      </div>
  </section>
  <!-- /Section: intro -->
