 <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="brand-heading">Economic Student Association</h2>
                        <p class="intro-text">Kwame Nkrumah University Science & Technology.
                            <br>Brains behind great desicions</p>
                        <a href="#about" class="btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about">
    <br>
    <br>
    <br>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1><b>ABOUT US</b></h1>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img src="/assets/1.jpg", class="img-responsive img-thumbnail img-circle">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">WHO WE ARE</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Economics Students’ Association (ESA – KNUST) is the legitimate student body of the Department of Economics at KNUST. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img src="/assets/2.jpg", class="img-responsive img-thumbnail img-circle">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">MEMBERSHIP</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Membership includes all undergraduate and postgraduate students in the Department of Economics, as well as interested alumina that form the Technical Advisory Board of the Association.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img src="/assets/3.jpg", class="img-responsive img-thumbnail img-circle">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">OUR VISION</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Our core aim is to bring up decisions that enhances holistic welfare of its members and to establish a community that will bring members together to network and help one another. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <a href="https://apps.knust.edu.gh/students">
                            <div class="timeline-image">
                                <h4><b>CLICK TO
                                    <br>STUDENT
                                    <br>PORTAL</b></h4>
                            </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>