  <!-- Section: intro -->
  <section class="hero" id="intro">
      <div class="container">
          <div class="animatedParent container">
            <h1 class="animated fadeInDown col-md-12 h-bold">PASCOLOGY</h1>
            <p class="animated fadeInUp h-bold col-md-12 pull-left">Do Great Things</p>
            <h3 class="animated fadeInUp col-lg-12 pull-left">
              <a  href="#courses" class="btn btn-lg" id="btn-scroll">FIND COURSES</a>
            </h3>
          </div>
      </div>
  </section>
  <!-- /Section: intro -->

  <!-- Navigation -->
  <div id="navigation" class="navbar navbar-fixed navbar-default" role="navigation">
      <div class="container">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#intro">Pascology</a>
        </div>

        <div class="navigation">
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <nav>
              <ul class="nav navbar-nav navbar-right">
                <li class="current"><a href="#intro">Home</a></li>
                <li> <% if current_user %>
                    <%= link_to 'LOGOUT', '/users/sign_out' %>
                    <% else %></li>
                    <li>  <%= link_to 'LOGIN', '/users/sign_in' %></li>
                    <li> <%= link_to 'SIGNUP', '/users/sign_up' %></li>
                    <% end %>
              </ul>
            </nav>
          </div>
          <!-- /.navbar-collapse -->
        </div>

      </div>
    </div>
  <!-- /Navigation -->

<!-- Courses -->
  <section class="mains" id="courses">
    <div class="container">
      <div class="col-md-12">
        <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
          <div class="section-heading">
            <h3 class="h-bold text-center">Looking for something to study?.... We got you. Click below</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="section-heading container text-center">
      <a><%= link_to 'VIEW ALL COURSES',years_index_path, :class=>"btn btn-lg" %></a>
    </div>
  </section>
<!-- /Courses -->

  <!-- Section: parallax -->
  <section id="parallax" class="home-section parallax text-light text-center" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="testimonialslide clearfix flexslider">
            <ul class="slides">
              <li class="highlight-dark text-center">
                davidadafia@gmail.com <br>
                <p>(+233)24 291 1291</p>
                <div><a style="color: white;" href="https://www.instagram.com/pascology/">Instagram</a></div><br>
                <h4>David Adafia</h4>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>