<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/years/index">
                     <span class="light" style="color: white;">ESA KNUST</span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li> <% if current_user %>
                    <%= link_to 'LOGOUT', '/users/sign_out' %>
                    <% else %></li>
                    <li class="page-scroll">  <%= link_to 'LOGIN', '/users/sign_in' %></li>
                    <li class="page-scroll"> <%= link_to 'SIGNUP', '/users/sign_up' %></li>
                    <% end %> 
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
	<br>
    <br>
    <br>
  <section>
    <div class="container marginbot-50">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="animatedParent">
            <div class="section-heading text-center animated bounceInDown">
              <h2 class="h-bold">DEPARTMENT OF ECONOMICS</h2>
              <div class="divider-header"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
     <div class="section-heading col-lg-8 col-lg-offset-2">
              <h2 class="h-bold">About</h2>
              <div class="divider-header"></div>
              <p>Economics Students’ Association (ESA – KNUST) is the legitimate student body of the Department of Economics. </p>
              <br>
              <p>Its membership includes all undergraduate students in the Department of Economics as well as interested postgraduate students and alumina that form the Technical Advisory Board of the Association.</p>
              <br>
              <p>Our core aim is to bring up decisions that enhances holistic welfare of its members and to establish a community that will bring members together to network and help one another. </p>
              

     </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 animatedParent">
          <div >
            <h3>Profile and course description.</h3>
            <strong><h5>History</h5></strong>
            <p>
              The Department of Economics has offered the BA Social Sciences (combined degree) with emphasis in Economics since the 1970’s.
            <br>
              Ghana had independence in 1957 and the government saw the need to train skilled manpower to take over from the Colonial Masters. Consequently, KNUST was upgraded to university status in 1961.
            <br>
              The Department of Economics was established in 1974 to train skilled manpower with knowledge in Intermediate and Advanced Economics models and theories.  
            <br>
              From 2004/2005 academic year the department has offered BA degree in Economics.</p>
            <br>
            <strong><h5>Goals and objectives</h5></strong>
            <p><strong>a)</strong>  To train medium and high level manpower for Ghana and the international community.<br>
            <strong>b)</strong>  To provide service to other departments in KNUST<br>
            The Department of Economics provides service courses to all the colleges in KNUST. The Department teaches both graduate (e.g. MSc. Agriculture Economics, MSc. Environmental Management) and undergraduate courses in other departments.<br>
            <strong>c)</strong>  Multi-disciplinary programmes-the department of economics is crucial for multi-disciplinary programmes for example in the area of medical sciences, we teach health economics, in the engineering there is energy economics and in the sciences there is environmental economics<br>
            <strong>d)</strong>  Senior members of the department serve on committees set up by the University <br>
            <strong>e)</strong>  Senior members provide service to Ghana:<br>
            <il>•   Senior members serve as external examiners and moderators to other sister institutions</il><br> 
            <il>•   examiners to international examining boards like the WAEC</il><br>
            <il>•   members of boards of national institutions </il><br>
            <il>•   To provide consultancy services to public and private institutions in Ghana.</il><br> 
            <il>•   The Department significantly generate funds internally through its admission of both local and international students.</il></p>
            <br>
            <br>
            <div class="text-center">
              <a href="#courses" class="col-md-5 btn btn-success btn-lg">ALL COURSES</a>
              <a href="https://drive.google.com/file/d/0B8XtmtnPEbsmWlRLaVhGQWNYR0U/view?usp=sharing" class="col-lg-5 pull-right btn btn-success btn-lg">ESA CONSTITUTION</a>                
            </div>
            <br>
            <br>
          </div>
        </div>
      </div>
    </div>
  </section>
  <br>
  <br>
<!-- Section: parallax 1 -->
  <section id="parallax1" class="home-section parallax text-light" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            <h2 class="big-heading highlight-dark wow bounceInDown" data-wow-delay="0.2s">“BRAINS BEHIND GREAT DECISIONS”</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
<br>
<br>
<section id="courses">
  <div class="container">
    <h3 class="text-center">COMPONENTS OF THE PROGRAMME</h3>
    <hr>
    <div class="row">
        <div class="panel panel-primary col-lg-6">
            <div class="panel-heading text-center">
                <h3 class="panel-title">COURSES</h3>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>CODE</th>
                        <th>TITLE</th>
                        <th>T</th>
                        <th>P</th>
                        <th>C</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center">
                        <td><strong>YEAR 1 SEMESTER 1</strong></td>
                    </tr>
                    <tr>
                        <td>ECON 151</td>
                        <td>Elements for Economics I</td>
                        <td>3</td>
                        <td>-</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>ECON 153</td>
                        <td>Mathematics for Economics I</td>
                        <td>3</td>
                        <td>-</td>
                        <td>3</td>
                    </tr>
                    <tr class="text-center">
                        <td><strong>YEAR 1 SEMESTER 2</strong></td>
                    </tr>
                    <tr>
                        <td>ECON 152</td>
                        <td>Elements for Economics II</td>
                        <td>3</td>
                        <td>-</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>ECON 154</td>
                        <td>Mathematics for Economics II</td>
                        <td>3</td>
                        <td>-</td>
                        <td>3</td>
                    </tr>
                    <tr class="text-center">
                        <td><strong>YEAR 2 SEMESTER 1</strong></td>
                    </tr>
                    <tr>
                        <td>ECON 251</td>
                        <td>Principles for Economics I</td>
                        <td>3</td>
                        <td>-</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>ECON 253</td>
                        <td>Economy of Ghana I</td>
                        <td>3</td>
                        <td>-</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>ECON 255</td>
                        <td>Statistics for Economists I</td>
                        <td>3</td>
                        <td>1</td>
                        <td>3</td>
                    </tr>
                    <tr class="text-center">
                        <td><strong>YEAR 2 SEMESTER 2</strong></td>
                    </tr>
                    <tr>
                        <td>ECON 252</td>
                        <td>Principles for Economics II</td>
                        <td>3</td>
                        <td>-</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>ECON 254</td>
                        <td>Economy of Ghana II</td>
                        <td>3</td>
                        <td>-</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>ECON 256</td>
                        <td>Statistics for Economists II</td>
                        <td>3</td>
                        <td>1</td>
                        <td>3</td>
                    </tr>
                    <tr class="text-center">
                        <td><strong>YEAR 3 SEMESTER 1</strong></td>
                    </tr>
                    <tr>
                        <td>ECON 363</td>
                        <td>Intermediate Microeconomics I</td>
                        <td>3</td>
                        <td>-</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>ECON 365</td>
                        <td>Intermediate Macroeconomics I</td>
                        <td>3</td>
                        <td>-</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>ECON 367</td>
                        <td>Econometrics I  </td>
                        <td>3</td>
                        <td>2</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>ECON 353</td>
                        <td>Mathematical Economics I</td>
                        <td>3</td>
                        <td>-</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>ECON 355</td>
                        <td>Development Economics </td>
                        <td>3</td>
                        <td>1</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>ECON 359</td>
                        <td>Research Methods in Economics I</td>
                        <td>3</td>
                        <td>2</td>
                        <td>3</td>
                    </tr>
                    <tr class="text-center">
                        <td><strong>YEAR 3 SEMESTER 2</strong></td>
                    </tr>
                    <tr>
                        <td>ECON 364</td>
                        <td>Intermediate Microeconomics II</td>
                        <td>3</td>
                        <td>-</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>ECON 366</td>
                        <td>Intermediate Macroeconomics II</td>
                        <td>3</td>
                        <td>-</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>ECON 368</td>
                        <td>Econometrics II  </td>
                        <td>3</td>
                        <td>-</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>ECON 354</td>
                        <td>Mathematical Economics II</td>
                        <td>3</td>
                        <td>-</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>ECON 358</td>
                        <td>Development of Economic Thought</td>
                        <td>3</td>
                        <td>-</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>ECON 360</td>
                        <td>Research Methods in Economics II</td>
                        <td>3</td>
                        <td>2</td>
                        <td>3</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel panel-primary col-lg-6 pull-right">
            <div class="panel-heading text-center">
                <h3 class="panel-title">COURSES</h3>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>CODE</th>
                        <th>TITLE</th>
                        <th>T</th>
                        <th>P</th>
                        <th>C</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center">
                        <td><strong>YEAR 4 SEMESTER 1</strong></td>
                    </tr>
                    <tr>
                        <td>ECON 475</td>
                        <td>Advanced Microeconomics I</td>
                        <td>3</td>
                        <td>-</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>ECON 477</td>
                        <td>Advanced Macroeconomics I</td>
                        <td>3</td>
                        <td>-</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>ECON 479</td>
                        <td>Advanced Econometrics   </td>
                        <td>2</td>
                        <td>2</td>
                        <td>3</td>
                    </tr>
                    <tr class="text-center">
                        <td><strong>ELECTIVES SELECT ANY TWO</strong></td>
                    </tr>
                    <tr>
                        <td>ECON 455</td>
                        <td>Monetary Economics I</td>
                        <td>3</td>
                        <td>-</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>ECON 457</td>
                        <td>International Economics I</td>
                        <td>3</td>
                        <td>-</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>ECON 459</td>
                        <td>Public Finance I</td>
                        <td>3</td>
                        <td>-</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>ECON 463</td>
                        <td>Environmental & Resource Economics I</td>
                        <td>3</td>
                        <td>-</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>ECON 465</td>
                        <td>Mathematical Economics I</td>
                        <td>3</td>
                        <td>-</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>ECON 467</td>
                        <td>Industrial Economics </td>
                        <td>3</td>
                        <td>-</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>ECON 469</td>
                        <td>Labour Economics I</td>
                        <td>3</td>
                        <td>-</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>ECON 461</td>
                        <td>Financial Economics I</td>
                        <td>3</td>
                        <td>-</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>ECON 465</td>
                        <td>Energy Economics I</td>
                        <td>3</td>
                        <td>-</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>ECON 471</td>
                        <td>Health Economics I</td>
                        <td>3</td>
                        <td>-</td>
                        <td>3</td>
                    </tr>
                    <tr class="text-center">
                        <td><strong>YEAR 4 SEMESTER 2</strong></td>
                    </tr>
                    <tr>
                        <td>ECON 476</td>
                        <td>Advanced Microeconomics II</td>
                        <td>3</td>
                        <td>-</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>ECON 478</td>
                        <td>Advanced Macroeconomics II</td>
                        <td>3</td>
                        <td>-</td>
                        <td>3</td>
                    </tr>
                    <tr class="text-center">
                        <td><strong>ELECTIVES SELECT ANY TWO</strong></td>
                    </tr>
                    <tr>
                        <td>ECON 456</td>
                        <td>Monetary Economics II</td>
                        <td>3</td>
                        <td>-</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>ECON 458</td>
                        <td>International Economics II</td>
                        <td>3</td>
                        <td>-</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>ECON 460</td>
                        <td>Public Finance II</td>
                        <td>3</td>
                        <td>-</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>ECON 464</td>
                        <td>Environmental & Resource Economics II</td>
                        <td>3</td>
                        <td>-</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>ECON 466</td>
                        <td>Mathematical Economics II</td>
                        <td>3</td>
                        <td>-</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>ECON 468</td>
                        <td>Industrial Economics II</td>
                        <td>3</td>
                        <td>-</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>ECON 470</td>
                        <td>Labour Economics II</td>
                        <td>3</td>
                        <td>-</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>ECON 462</td>
                        <td>Financial Economics II</td>
                        <td>3</td>
                        <td>-</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>ECON 466</td>
                        <td>Energy Economics II</td>
                        <td>3</td>
                        <td>-</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>ECON 472</td>
                        <td>Health Economics II</td>
                        <td>3</td>
                        <td>-</td>
                        <td>3</td>
                    </tr>
                    <tr class="text-center">
                        <td><strong>RESEARCH COMPONENT</strong></td>
                    </tr>
                    <tr>
                        <td>ECON 490</td>
                        <td>Dissertation</td>
                        <td>6</td>
                        <td>6</td>
                        <td>6</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </div>      
</section>                   
<br>
<br>  
  <section id="parallax3" class="home-section parallax text-light" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            <h2 class="big-heading highlight-dark wow bounceInDown" data-wow-delay="0.2s">“ESAKNUST”</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <br>
  <br>                  
<section>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
<strong><h4 class="text-center">HOW THE CWA SYSTEM WORKS</h4></strong>
<div class="text-left">                                                    

<p>Unlike other universities which use GPA grading system, KNUST uses the CWA grading system. The CWA simply means ‘Cumulated Weighted Average’. Based on your CWA, (always shortened to ‘average’) you can be tipped ‘first class’, ‘second class upper’, ‘second class lower’, ‘pass’ or ‘fail’. 
<br>
Examination in KNUST is divided into two – mid semester exam, and end of semester exam. The mid semester exam constitute 30% and the end of semester 70%, making a total of 100%. Below is how the classification is; </p>
<br>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>70 and above</th>
        <th>60 to 69.99 </th>
        <th>50 to 59.99</th>
        <th>40 to 49.99</th>
        <th>Below 40</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>First Class</td>
        <td>Second Class Upper</td>
        <td>Second Class Lower</td>
        <td>Pass</td>
        <td>Fail</td>
      </tr>
    </tbody>
  </table>

<br>
<p>NB: Though 40 is a pass mark, at the end of your stay on campus, if your average is less than 45, you can’t graduate. </p>
<br>

<h4>CALCULATION OF CWA</h4>
<p>Every course you read has a credit hour. This is statistically known as ‘weight’, hence the name Cumulated weighted average. 
Suppose a student named XYZ read the following courses for year one semester one: </p>
<br>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>COURSE</th>
        <th>CREDIT HOUR</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Elements of Economics</td>
        <td>3</td>
      </tr>
      <tr>
        <td>Introduction to Mathematics for Economists I</td>
        <td>3</td>
      </tr>
      <tr>
        <td>Communication Skills I</td>
        <td>2</td>
      </tr>
      <tr>
        <td>Statistical Methods I</td>
        <td>2</td>
      </tr>
    </tbody>
  </table>
<br>

<p>The student above has a total credit hour of 10 and 4 registered courses. 
Suppose he get the following scores at the end of the semester;</p>
<br>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>COURSE</th>
        <th>SCORE</th>
        <th>GRADE</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Elements of Economics</td>
        <td>80</td>
        <td>A</td>
      </tr>
      <tr>
        <td>Introduction to Mathematics for Economists I</td>
        <td>69</td>
        <td>B</td>
      </tr>
      <tr>
        <td>Communication Skills I</td>
        <td>85</td>
        <td>A</td>
      </tr>
      <tr>
        <td>Statistical Methods I</td>
        <td>54</td>
        <td>C</td>
      </tr>
    </tbody>
  </table>

<br>
<p>This is how the CWA will be calculated:</p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>COURSE</th>
        <th>SCORE</th>
        <th>CREDIT HOUR</th>
        <th>WEIGHTED SCORE</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Elements of Economics</td>
        <td>80</td>
        <td>3</td>
        <td>80 x 3 = 240</td>
      </tr>
      <tr>
        <td>Introduction to Mathematics for Economists I</td>
        <td>69</td>
        <td>3</td>
        <td>69 x 3 = 207</td>
      </tr>
      <tr>
        <td>Communication Skills I</td>
        <td>85</td>
        <td>2</td>
        <td>85 x 2 = 170</td>
      </tr>
      <tr>
        <td>Statistical Methods I</td>
        <td>54</td>
        <td>2</td>
        <td>54 x 2 = 108</td>
      </tr>
      <tr>
        <td>Total</td>
        <td></td>
        <td>10</td>
        <td>725</td>
      </tr>
      <tr>
        <td>Weighted Average</td>
        <td></td>
        <td>725/10</td>
        <td>72.5</td>
      </tr>
    </tbody>
  </table>

<br>
<p>The average (72.5) above which indicates first class, is known as the semester weighted average (SWA)
It becomes cumulated when other semesters are added.  </p>
<br>
<p>NB: From the table above, you could see that 69 in three credit hour course, by the multiplication, is higher than 85 in a two credit hour course. You are hereby advised to devote much time in courses that have higher credit hours. This is because they carry much weight which can shoot your average up or press it hardly down. </p>
<br>
<p>In case student XYZ gets a weighted score of 695 in the second semester with the same credit hour of 10,  his second semester weighted average will be 695/10 =69.5. The cumulated weighted average for the year would therefore be (725+695)/20 = 71    [ie. Sum of the weighted scores of the two semesters, divided by the sum of the credit hours]</p>
<br>
<p>Also, let’s say that in second year first semester, student XYZ read 5 courses with total credit hours of 12. He writes an exam and gets a weighted score of say 850. His weighted average for the semester will be 850/12 = 70.83. However, his cumulated weighted average for second year first semester would be (725+695+850) / (10+10+12) 
= 2270/32 = 70.94. </p>
<br>
<p>Again, let’s say he gets a weighted average of 66.0 at the end of second semester exam with a total credit hour of 12 (weighted score of 792). The cumulated weighted average at the end of second year will be 2270+792/32+12 = 69.59
This is how it goes until you complete school. </p>
<br>
<p>NB: The more you progress, the bigger the denominator becomes. Hence, be advised to get a very good average in first year so that when things become tough in the subsequent years and your average starts falling, you’d have enough remainder. 
Thank you !!!
</p>
</div>
</div>
</div>
</div>
</section>
<br>
<br>


