<br>
<br>
<br>
<br>
<br>
    <div class="jesus">
    <div class="container">
     <h2 class="text-center"><strong> PASCOLOGY </strong> </h2>
    <div class="text-center">
    <br> 
    <p>At Pascology we create online classroom web application for students to network more effectively. Pascology was created because I belive technology has more to offer and can make learning more efficient.</p> 
    <br>
    <p>So cheers to the students who need it as bad as I did. This one is for you. I gotcha back.;)</p>  
    <br/>
    <p> <strong>PASCOLOGY - SMART SIMPLE STUDIES </strong> </p>
    <br/>
    <p> My name is David. Say Hi to our awesome team.</p>
    </div>
    <br>
    <h1 class="text-center"><strong> THE TEAM </strong> </h1>
    <br>
    <div class="row" id="features">
                <div class="col-sm-4 feature">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">FOUNDER & CEO </h3>
                        </div><!-- end panel-heading -->
                        <%= image_tag("SelormAdafia.png", class: "img-responsive img-thumbnail img-circle") %>
                        <!--<div alt="Bootstrap 3" class="img-circle"><%= image_tag "SelormAdafia.png" %></div>-->
                        <h4>David Adafia</h4>
                        <p class="text-muted">CEO & CTO</p>
                        <ul class="list-inline">
                            <li>
                                <a href="https://www.facebook.com/david.adafia" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/davidadafia" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://instagram.com/davidadafia" class="btn-social btn-outline"><i class="fa fa-fw fa-instagram"></i></a>
                            </li>
                        </ul>                       
                    </div><!-- end panel -->
                </div><!-- end feature -->

                 <div class="col-sm-4 feature">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">COO</h3>
                        </div><!-- end panel-heading -->
                        <%= image_tag("Xaa.png", class: "img-responsive img-thumbnail img-circle") %>
                        
                        <h4>Estella Akiti Amaglo</h4>
                        <p class="text-muted">OPERATIONS OFFICER</p>
                         <ul class="list-inline">
                             <li>
                                <a href="https://www.facebook.com/xtella.emepha?hc_ref=SEARCH" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/search?q=estella&src=typd" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/estellaemefa/" class="btn-social btn-outline"><i class="fa fa-fw fa-instagram"></i></a>
                            </li>
                        </ul>
                        
                    </div><!-- end panel -->
                </div><!-- end feature -->
            </div>
            </div>
            </div>                                
<br>
<br>

