<br>
<br>
<br>
<br>
<br>
<div class="jesus">
    <div class="container">         
        <div class="row" id="features">             
            <div class="col-sm-12 feature">
                <div class="text-center">
                    <strong><h2><%= @course.title %></h2></strong>
                    <% for classroom in @course.classrooms %>
                    <h3><%= link_to classroom.title, classroom_path(classroom), :class => "btn btn-default btn-lg col-sm-4"%></h3>
                    <% end %>    
                </div>
            </div><!-- end feature -->
        </div><!-- end features -->
    </div>        
</div>